<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="Layouts em .css">
	</head>
<title>Começando layout</title>
<body>
	<header id='cabecalho'>Aqui fica o cabeçalho</header>
	<nav id='menu'>
		<a href="http://google.com/search">Google</a><br>
		<a href="http://youtube.com/search">Tube</a><br>
	</nav>
<div id='container'>
		<aside id='esquerda'>Informações</aside>
			<main id='centro'>
				<section>
					<header>Título do conteúdo</header>
						<article>
							<h1> Sei lá</h1>
							<p> Vamos nessa ?</p>
						</article>
				</section>
			</main>
</div>
<footer id='rodape'>
	O rodapé
</footer>
</body>
</html>