#x1{
    color:blueviolet;
    background-color: aqua;
}
#x2{
    color:brown;
    text-align: right;

}
#x3{
    background-color: bisque;
}
.bala{
    color: red;
    text-align: center;
}
.chicle{
    color: green;
    text-align: right;
}
.dif{
    background-color: orange;;
}